PROJECT_NAME=my_project
DB_URL=bolt://127.0.0.1:7687
DB_USER={{ neo4j_user }}
DB_PASSWORD={{ neo4j_password }}
DB_DATABASE_NAME={{ neo4j_database }}
AUTHJWT_SECRET_KEY={{ authjwt_secret_key }}
ENTITY_BASE_URL={{ entity_base_url }}
BACKEND_CORS_ORIGINS={{ backend_cors_origins | to_json }}